flujos agenticos/n8n_handoff_tracking.json
{
    "name": "Sales Handoff Tracking",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sales-handoff",
                "options": {}
            },
            "name": "Handoff Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "webhookId": "sales-handoff-tracking-webhook"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "user_id",
                            "value": "={{$json.body.id}}"
                        },
                        {
                            "name": "username",
                            "value": "={{$json.body.username}}"
                        },
                        {
                            "name": "first_name",
                            "value": "={{$json.body.first_name}}"
                        },
                        {
                            "name": "target_bot",
                            "value": "={{$json.body.target_bot}}"
                        },
                        {
                            "name": "timestamp",
                            "value": "={{$now}}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Format Lead Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                320,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "salespulse@testn8n.online",
                "toEmail": "andres.delgado.recio@gmail.com",
                "subject": "📢 Nuevo Lead en Telegram: {{$json.first_name}}",
                "html": "<h3>¡Nuevo contacto interesado en Ventas!</h3><p><b>Nombre:</b> {{$json.first_name}}<br><b>Username:</b> @{{$json.username}}<br><b>ID Telegram:</b> {{$json.user_id}}<br><b>Bot de contacto:</b> {{$json.target_bot}}</p><p><i>Fecha: {{$json.timestamp}}</i></p>",
                "options": {}
            },
            "name": "Send Email Notification",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                540,
                300
            ]
        },
        {
            "parameters": {
                "notice": "This workflow logs execution and sends notifications."
            },
            "name": "Log Tracking",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                760,
                300
            ]
        }
    ],
    "connections": {
        "Handoff Webhook": {
            "main": [
                [
                    {
                        "node": "Format Lead Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Lead Data": {
            "main": [
                [
                    {
                        "node": "Send Email Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Email Notification": {
            "main": [
                [
                    {
                        "node": "Log Tracking",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}